.altcolor {
    background-color: rgb(158, 123, 27);
    border-radius: 15px;
    margin-top: 20px;
    padding: 20px;
}

.form-control {
    display: inline-block;
}

.invis {
    display: none;
}

body {
    background-color: #F0FFF0;
    color: #2F4F4F;
}

.jumbotron {
    background-color: rgb(199, 181, 79);
}

.header {
    border-bottom: 0px;
}
